@model StARKS.Models.HomeViewModel

<head>
    <style>
        table, th, td, thead {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }

        th, td {
            padding: 5px;
            text-align: center;
        }

        input {
            border: none transparent;
            outline: none;
            text-align: center;
        }

        #studentFilter, #courseFilter {
            border: 1px;
            outline: auto;
            text-align: left;
            margin-right: 20px;
            margin-left: -10px;
            height: 30px;
            width: 300px;
        }

        #modalbtnS, #modalbtnC {
            margin-left: 10px;
            height: 30px;
        }
    </style>
</head>
<body>



    <div class="container-fluid">


        <input class="pull-left" id="studentFilter" value="Das" type="text" value="" onkeyup="filterData();" placeholder="Filter students...">

        <input class="pull-left" id="courseFilter" type="text" value="" onkeyup="filterData();" placeholder="Filter courses...">



        <button id="modalbtnS" type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#AddStudentModal">Add Student</button>


        <button id="modalbtnC" type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#AddCourseModal">Add Course</button>


    </div>


    <!-- Trigger the modal with a button -->

    <div class="row">

    </div>

    <!-- Modals -->
    <div class="modal fade" id="AddStudentModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Student</h4>
                </div>

                <div class="modal-body">
                    <p>Some text in the modal.</p>
                    <div id="dynamicContentContainer"></div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>



    <div class="modal fade" id="AddCourseModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Course</h4>
                </div>

                <div class="modal-body">
                    <p>Some text in the modal.</p>
                    <div id="dynamicContentContainer"></div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>



    <br />
    <br />
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> </th>
                    @foreach (var course in Model.Courses)
                    {
                        <th scope="col">@course.Name  </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var scm in Model.AllSCM)
                {
                    <tr>
                        <th scope="row">@scm.Sname</th>
                        @foreach (var sc in scm.Grades)
                        {
                            <td>
                                <input type="text" value=@sc.Grade.GetValueOrDefault() onchange="changeGrade(@scm.Sid, @sc.CourseId.GetValueOrDefault() ,this.value);">


                            </td>

                        }
                    </tr>
                }

            </tbody>
        </table>
    </div>
</body>
<script language="javascript">


   // document.getElementById("studentFilter").value = getSavedValue("studentFilter");    // set the value to this input
    // document.getElementById("courseFilter").value = getSavedValue("courseFilter");
    document.onload(filterData);


    function changeGrade(sid,cid,val) {
        $.ajax({
            url: '/Home/Update',
            type: "post",
            data: { sid:sid , cid:cid ,val:val}
        }).done(function () {
            alert("Mark can be in range 6 - 10");
            location.reload();
        });
    }
    function filterData() {

        var filterS = document.getElementById("studentFilter").value;
        var filterC = document.getElementById("courseFilter").value;
        $.ajax({
            url: '/Home/Index',
            type: "post",
            data: {
                FilterS: filterS,
                filterC: filterC
            }
        }).done(function () {
        });
    }

    function saveValue(e) {
        var id = e.id;  // get the sender's id to save it .
        var val = e.value; // get the value.
        localStorage.setItem(id, val);// Every time user writing something, the localStorage's value will override .
    }

    //get the saved value function - return the value of "v" from localStorage.
    function getSavedValue(v) {
        if (!localStorage.getItem(v)) {
            return "";// You can change this to your defualt value.
        }
        return localStorage.getItem(v);
    }



</script>